.form {
    position: absolute;
    top: 170px;
    left: 40px;
    width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #484A47;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    background-color: #EDF4ED;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #484A47;
}

.input:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input:nth-child(5) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
}

.button {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #F6AE2D;
    color: #171E0A;
    font-size: 16px;
    cursor: pointer;
}